$color: darkgray;

body {
  background-color: $color;
  text-align: center;
  font-family: arial;
  font-size: 30px;
}

.img {
	width: 1000px;
	margin-left: none;
	border: 200px;
	border-color: #FFFFFF;
}
